---
slug: {{slug}}
title: <ADD TITLE>
description: <ADD DESCRIPTION>
author: Bart Kessels
date: {{date}}
image: /images/blog/{{subject}}/{{slug}}/....
caption: <ADD CAPTION>
subject: {{subject}}
tags: [A, B, C]
featured: true
posts:
    - <SUBJECT/SLUG>
---

import Callout from '@/components/Callout.astro';
import Intro from '@/components/Intro.astro';
import Char from '@/components/Char.astro';

<Intro>
    <Char>T</Char>his post is about something else.
</Intro>
