---
slug: {{slug}}
title: <ADD TITLE>
description: <ADD DESCRIPTION>
author: Bart Kessels
date: {{date}}
image: /images/blog/{{subject}}/{{slug}}/....
caption: <ADD CAPTION>
subject: {{subject}}
tags: [A, B, C]
featured: true
posts:
    - <SUBJECT/SLUG>
---
